<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}NISMOD International{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/leaflet.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
<header class="page-header clearfix">
    <h1><a href="/">ITRC MISTRAL</a></h1>
    <a href="#" class="clear-cache-reload button-link">Reload <i class="fa fa-refresh" aria-hidden="true"></i></a>
</header>
{% block content %}{% endblock %}
<script type="text/javascript" src="/static/js/leaflet.js"></script>
<script type="text/javascript" src="/static/js/turf.min.js"></script>
<script type="text/javascript" src="/static/js/underscore.min.js"></script>
<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>