{% extends "base.html" %}
{% block content %}
<main class="content-wrapper">
    <h1>Edit node</h1>
    <form action="" method="POST">
        <h4>Name</h4>
        <input type="text" name="name" value="{{ node.name }}">

        <h4>Status</h4>
        <p>
            Currently: {{ node.status }}.
            {% if node.status is equalto "staged" %}
            <label><input type="checkbox" name="status_approved">Approve?</label>
            {% endif %}
            {% if node.status is equalto "approved" %}
            <label><input type="checkbox" name="status_archived">Archive?</label>
            {% endif %}
        </p>

        <h4>Type</h4>
        <select name="type">
        {% for node_type in node_types %}
            <option value="{{ node_type }}" {% if node.type is equalto node_type %} selected {% endif %}>
                {{ node_type }}
            </option>
        {% endfor %}
        </select>

        <h4>Function</h4>
        <input type="text" name="function" value="{{node.function}}">

        <h4>Condition</h4>
        <input type="text" name="condition" value="{{node.condition}}">

        <div class="form-actions">
            <a href="/nodes/{{ node.id }}" class="button-link">Cancel</a>
            <input type="submit" value="Save" class="button">
        </div>
    </form>
    {% if node.status is equalto "staged" %}
    <form action="" method="POST">
        <input type="hidden" name="x-method" value="DELETE">
        <input type="submit" value="Delete" class="button">
    </form>
    {% endif %}
</main>
{% endblock %}
