{% extends "base.html" %}
{% block content %}
<main class="content-wrapper">
    <h1>Node Details</h1>
    <p><small>Last updated: {{ node.last_updated.strftime("%H:%M, %d %B %Y") }}</small></p>

    <h4>Name</h4>
    <p>{{ node.name }}</p>

    <h4>Status</h4>
    <p>{{node.status}}</p>

    <h4>Type</h4>
    <p>{{ node.type }}</p>

    <h4>Function</h4>
    <p>{{node.function}}</p>

    <h4>Condition</h4>
    <p>{{node.condition}}</p>

    <h4>Location</h4>
    <p>Latitude: {{ node.lat }} Longitude: {{ node.lon }}</p>

    <div class="form-actions">
        <a href="/nodes" class="button-link">Back to nodes</a>
        <a href="/nodes/{{ node.id }}?edit=true" class="button-link">Edit</a>
    </div>
</main>
{% endblock %}
